<h2 class="display-4">Editing article</h2>

<%= simple_form_for(@article) do |f| %>
  <%= f.input :title %>
  <%= f.input :content %>
  <%= f.submit class: "btn btn-success" %>
<% end %>

<%= link_to "Show article", article_path(@article), class: "btn btn-outline-secondary mt-4" %>
